{% extends "mainapp/base.html" %}

{% block content %}
<div class="col-md-12">
    <h4>Редактирование строки {{ employee.id }}</h4>
    <form method="POST" class="post-form" action="{% url 'update' employee.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">
            <br>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                    <h3>Update Details</h3>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">STS:</label>
<!--                <div class="col-sm-4">-->
<!--                    <input type="text" class="form-control" name="id" id="id_sts" required maxlength="20"-->
<!--                           value="{{ employee.sts.id }}"/>-->
<!--                </div>-->
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">ID:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="id" id="id_id" required maxlength="20"
                           value="{{ employee.id }}"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Расход:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="current" id="id_current" required maxlength="254"
                           value="{{ employee.current }}"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">

                    <button class="btn btn-success btn-circle" type="submit">
                                <i class="fas fa-check"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
    {% endblock content %}