{% extends 'mainapp/base.html' %}
{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->

    <!-- DataTales Example -->
    <div class="card shadow mb-4">

        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Добавление строки | В таблицу пользователя {{ user.username }}</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <form method="POST" class="post-form" action="/addnew">
                        {% csrf_token %}
                        <thead>
                        <tr>
                            <th>STS</th>
                            <th>Категория расходов</th>
                            <th>Сумма расхода</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <a href="#" class="btn btn-success btn-circle">
                                <i class="fas fa-check"></i>
                            </a>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr>
                            <td>{{ form.sts }}</td>
                            >
                            <td>{{ form.category_name }}</td>
                            <td>{{ form.current }}</td>
                        </tr>
                        </tbody>
                    </form>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
{% endblock %}
